* {
  margin: 0 auto;
}
body {
  background: #f8f9fa;
  margin: 0 auto;
  padding: 0px;
  font-size: 18px;
}

#registerDiv {
  width: 65%;
  text-align: left;
  /* background: #60c; */
  background: #2cb1ea;
  line-height: 30px;
  color: #fff;
  margin: 80px auto;
  padding: 20px;
  border-radius: 25px;
}
#registerDiv h1 {
  text-align: center;
  color: #f30;
  /* color: #2cb1ea; */
  background: #fff url(../images/register-icon.png) no-repeat 20px;
  padding: 5px 0px 5px 30px;
  border: 1px solid #630;
  border-radius: 25px;
  /* margin: 1 1 3 1; */
}

input[type="text"],
input[type="password"] {
  padding: 5px;
  /* margin: 5 auto; */
  margin: 0 10 0 1;
  border: none;
}

input[type="text"]:hover,
input[type="password"]:hover {
  background: #ccc;
}
.errorDiv {
  background: #ffc url(../images/information.png) left no-repeat;
  color: #f00;
  padding-left: 20px;
}
/*  For Register Welcome Message */

.registerWelcome {
  width: 65%;
  text-align: left;
  /* background: #60c; */
  background: #2cb1ea;
  line-height: 30px;
  color: #fff;
  margin: 80px auto;
  padding: 20px;
  border-radius: 25px;
}
.registerWelcome h1 {
  text-align: center;
  color: green;
  /* color: #2cb1ea; */
  background: #fff;
  padding: 5px 0px 5px 30px;
  border: 1px solid #630;
  border-radius: 25px;
  /* margin: 1 1 3 1; */
}
